<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cotizacion</title>
    </head>
<body>
    <header>
        <center>
            <h1>Cotiza tu automovil</h1>
        </center>
    </header>
    <div class="row">
            <section>
                <div>
                <center>
                <form action="/cotizacion" method="post" style="width:60%">
                    <div class="form-group">
                    <label for="">  Valor del automovil</label>
                    <input type="number" id="valor" name="valor" class="form-control" required="true" value="<%=valor%>">
                </div>
                <div class="form-group">
                    <label for="">Porcentaje pago inicial</label>
                    <select name="pInicial" id="pInicial" class="form-select">
                            <option value="10">10%</option>
                            <option value="20">20%</option>
                            <option value="30">30%</option>
                            <option value="50">50%</option>
                            <option value="70">70%</option>
                        </select>
                    </div>
                <div class="form-group">
                    <label for="">Plazos</label>
                    <select name="plazo" id="plazo" class="form-select">
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                        <option value="36">36 meses</option>
                        <option value="48">48 meses</option>
                        <option value="60">60 meses</option>
                        <option value="72">72 meses</option>
                    </select>
                    </div>
                    <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Enviar</button>
                </form>

        <%
        if(valor!=0){
            
            var pagoInicial=0;
            var totalFin=0;
            var pagoMensual=0;

            pagoInicial= (valor*(pInicial/100));
            totalFin= (valor-pagoInicial);
            pagoMensual=(totalFin/plazo);
        }
        %>
        <br><hr>
        <div>
                <h2>Resumen de la cotizacion</h1>
                <hr>
                <div>
                        <h3>Valor del automovil: <mark><small>$<%=valor%></small></h3>
                        <h3>Porcentaje de pago inicial: <small><%=pInicial%>%</small></h3>
                        <h3>Plazos: <small><%=plazo%> Meses</small></h2>
                        <h3>Pago Inicial: <small>$<%=pagoInicial%></small></h3>
                        <h3>Total a Financiar: <small>$<%=totalFin%></small></h3>
                        <h3>Pago Mensual: <mark><small>$<%=pagoMensual%></small></h3>
                </div>

            
            </center> 

     </section> 
     <aside>
        <img src="./img/banner.jpg" style="margin-top: 15%;">  
    </aside> 
    </div> 
        <footer>
            <h2>Copyright © 2023 All Rights Reserved by Justin Hernandez</h2>
        </footer>
</body>
</html>
<style>
 *{
    font-family: Segoe UI;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    background: url(/img/header.jpg);
    text-align: center;
}
h1{
    color:#fff;
    font-family: Segoe UI;
    font-style: italic;
    font-size: 80px;
    text-shadow: 6px 6px 0px #000;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 40px;
}

section{
    flex: 40%;
    padding: 10px;
    margin-left: 10%;
}

footer{
    padding: 0px;
    text-align: center;
    height: 100px;
    background-color: #000;
}
footer h2{
    font-size: 20px;
    color: #f2f2f2;
    padding: 20px;
}
@media screen and (max-width: 710px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}

.headerimg{
    width: 100%;
}
hr {border: 0; height: 0; border-top: 4px double black; text-align:center;}

h3{
    font-size: 20px;
}
small{
    color: rgb(41, 154, 4);
}
</style>