<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Practica 01 EJS</title>
</head>
<body>
    <div class="container">
    <center>
        <header >
    <h1 class="h1"><%=titulo%></h1>
    <img src="./img/images.png">
</header>
 <table class="table table-hover">
    <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>Materias</th>
    </tr>
    <%for(alumno of listado){ %>
        <tr>
            <td><%=alumno.matricula%></td>
            <td><%=alumno.nombre%></td>
            <td><%=alumno.sexo%></td>
            <td><%=alumno.materias%></td>
        </tr>
        <%}
        %>
 </table>
</center>
</div>
</body>
</html>